@import materialize

.body-wrapper
  margin: 1.5%

.avatar
  display: flex

.avatar-container
  margin: auto
  width: 20%
  padding-top: 50px

#mypic
  border-radius: 50%

//ABOUT SECTION
.about
  padding-top: 30px
  background-color: #ccc

//PROJECTS SECTION
.projects
  background-color: #ccc
  display: inline-flex
  justify-content: space-between

.card
  max-width: 30%
  height: 10%
