@import materialize

.body-wrapper

//ME CONTAINER
.me-container

.avatar
  display: flex
  background-image: url("../assets/me2.jpg")
  opacity: 0.5
  height: 450px
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.avatar-content
  margin: auto
  color: white
  -webkit-animation: fadein 2s
  -moz-animation: fadein 2s
  -ms-animation: fadein 2s
  -o-animation: fadein 2s
  animation: fadein 2s

//ABOUT SECTION
.about
  padding-top: 30px
  border-style: dashed

//PROJECTS SECTION
.projects
  border-style: dashed
  display: flex
  justify-content: space-between

.card
  max-width: 30%
  height: 10%
