.Home .lander {
  text-align: center;
  color: white;
}

.Home {
  display: flex;
  background-image: url("../assets/me2.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.lander {
  margin: auto;
}
